---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
    background: rgb(15, 66, 169);
    background: linear-gradient(
      180deg,
      rgba(15, 66, 169, 1) 0%,
      rgba(8, 33, 85, 1) 21%,
      rgba(4, 17, 43, 1) 45%,
      rgba(0, 0, 0, 1) 58%
    );
  }
  body {
    width: 100%;
    height: 100%;
  }
</style>
